*{
    box-sizing: border-box;

}
:root{
    --main-color: #10cab7;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Work Sans" ,sans-serif;
    
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
}

/* mobile */

/* small-screen */

@media (min-width: 768px){
    .container{
        width: 750px;
    }
   

}
/* medium-screen */

@media (min-width: 992px){
    .container{
        width: 970px;
    }

}
/* large-screen */

@media (min-width: 1200px){
    .container{
        width: 1170px;
    }

}
.header{
    padding:20px
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;

}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;

}
.header .links .icon span:last-child{
    width: 100%;

}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;

}
.header .links ul::before{
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;

}
.header .links:hover ul{
    display: block;
    z-index: 1;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left:25px ;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
.landing{
    background-image: url('../images/mounains1.png');
    background-size:cover ;
    height: calc(100vh - 64px);
    position: relative;
    
}
.landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
    

}

.landing .intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
    
}


.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
    
}
.features{
    padding-top: 60px ;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
    grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
    
}
.features .feat i{
    color: var(--main-color);
}
.feat .feat h3{
    font-weight: 800;
    margin: 30px 0;


}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;

}
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
    
}
.special-heading + p{
    margin: -30px 0 0 ;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }

}
.services{
    padding-top: 60px;
    padding-bottom: 60px;

}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
    grid-gap: 30px;
    margin-top: 100px;
   

}
.services .services-content .src {
    display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px){
    .services .services-content .src{
        flex-direction: column;
        text-align: center;

    }
}

.services .services-content .src i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .src .text{
    flex: 1;
}
.services .services-content .src .text h3{
    margin: 0 0 20px;
}
.services .services-content .src .text p{
    color: #777;
    font-weight: 300;
    line-height: 1.8;
}
.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content .card img{
    max-width: 100%;
}
.portfolio .portfolio-content .card .info{
    padding: 20px;

}
.portfolio .portfolio-content .card .info h3{
    margin: 0;
}
.portfolio .portfolio-content .card .info p{
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
}
.about{
    padding-top: 60px;
    padding-bottom: 120px;
}
.about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media(max-width: 991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
   
    
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
  
}

.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    color: black;

}
.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
    
}
.about .about-content .text:last-of-type{
    line-height: 2;
    color: #777;

}
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.contact .info{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;


}
.contact .info .label{
    font-size: 30px;
    font-weight: 800;
    color:#2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
@media(max-width: 767px){
    .contact .info .label{
        font-size: 25px;
    }
   
   
    
}
.contact .info .link{
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;

}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{
    margin-left: 10px;
    color: #2c4755;

}
.footer{
    background-color: #2c4755;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
}



